<head>
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <link rel="icon" href="/v.jpeg">
</head>

<body align="center" class="userBody">

  <!-- <h1>The last 3 months</h1>
  <p>{{message}}</p>
  <p>Hi there, {{firstName}}, here is your summary of the past 3 months</p> -->
  <div class="page-header userHeader">

    <h1>
      Visualise Runs and Rides
      <small>Your last 3 months on Strava</small>
   </h1>

  </div>
  <div>
    <table class="table table-sm table-dark tableSize runs">
      <thead>
        <tr>
          <th scope="row" class="tableHeader"></th>
          <th scope="col" class="tableHeader">Runs</th>
          <th scope="col" class="tableHeader"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Average runs week</td>
          <td>{{newInput.runs.avPerWeek}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Average distance per run</td>
          <td>{{newInput.runs.avDistancePerAct}}m</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Average speed per run</td>
          <td>{{newInput.runs.avAvSpeedPerAct}}km/h</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Fastest average speed</td>
          <td>{{newInput.runs.fastestAvSpeed}}km/h</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Longest run (distance)</td>
          <td>{{newInput.runs.longestActDistance}}m</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Longest run (duration)</td>
          <td>{{newInput.runs.longestActDuration}}</td>
        </tr>

      </tbody>
    </table>
    <table class="table table-dark tableSize">
      <thead>
        <tr>
          <th scope="row"class="tableHeader"></th>
          <th scope="col" class="tableHeader">Rides</th>
          <th scope="col" class="tableHeader"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Average rides per week</td>
          <td>{{newInput.rides.avPerWeek}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Average distance per ride</td>
          <td>{{newInput.rides.avDistancePerAct}}m</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Average speed per ride</td>
          <td>{{newInput.rides.avAvSpeedPerAct}}km/h</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Fastest average speed</td>
          <td>{{newInput.rides.fastestAvSpeed}}km/h</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Longest ride (distance)</td>
          <td>{{newInput.rides.longestActDistance}}m</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Longest ride (duration)</td>
          <td>{{newInput.rides.longestActDuration}}</td>
        </tr>

      </tbody>
    </table>

    <div class="submit">
      <form class="" action="" method="post">
        <span class="glyphicon glyphicon-log-out">
          <input type="submit" name="logOut" value="Log out" class="btn btn-info btn-lg">
        </span>
        <!-- <input type="submit" name="logout" value="Log out"> -->
        <!-- <input type="submit" name="saveSummary" value="Save this summary"> -->
        <span class="glyphicon glyphicon-log-out">
          <input type="submit" name="saveSummary" value="Save this summary" class="btn btn-info btn-lg green">
        </span>
      </form>
    </div>
    <h2 class="userHeader">Previous summaries</h2>
    {{#each previousSummaries}}
    <h5 class="date">{{cleanDate date}}</h5>
    <table class="table table-dark tableSize runs">
      <thead>
        <tr>
          <th scope="row" class="tableHeader"></th>
          <th scope="col" class="tableHeader">Runs</th>
          <th scope="col" class="tableHeader"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Average runs week</td>
          <td>{{runs.avPerWeek}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Average distance per run</td>
          <td>{{runs.avDistancePerAct}}m</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Average speed per run</td>
          <td>{{runs.avAvSpeedPerAct}}km/h</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Fastest average speed</td>
          <td>{{runs.fastestAvSpeed}}km/h</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Longest run (distance)</td>
          <td>{{runs.longestActDistance}}m</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Longest run (duration)</td>
          <td>{{runs.longestActDuration}}</td>
        </tr>

      </tbody>
    </table>
    <table class="table table-dark tableSize">
      <thead>
        <tr>
          <th scope="row" class="tableHeader"></th>
          <th scope="col" class="tableHeader">Rides</th>
          <th scope="col" class="tableHeader"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Average rides per week</td>
          <td>{{rides.avPerWeek}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Average distance per ride</td>
          <td>{{rides.avDistancePerAct}}m</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Average speed per ride</td>
          <td>{{rides.avAvSpeedPerAct}}km/h</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Fastest average speed</td>
          <td>{{rides.fastestAvSpeed}}km/h</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Longest ride (distance)</td>
          <td>{{rides.longestActDistance}}m</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Longest ride (duration)</td>
          <td>{{rides.longestActDuration}}</td>
        </tr>

      </tbody>
    </table>
      {{else}}
        <div class="noPrevMsg">
          <p class="date"><h5>No previous summaries</h5></p>

        </div>
    {{/each}}

</body>
